@charset "UTF-8";

/*Todas as demais mídias*/ 

/*typical Device Breakpoints
-----------------------------
Pequenas Telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992
Desktop: 992px 1200px
Grandes telas: acima de 1200px
*/

@media print /*IMPRESSÃO*/ {

    *{
        font-family: 'Courier New', Courier, monospace;
    }

    body{
        background-image: url(../imagem/back-print.jpg);/*desnecessario*/
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
    }

    main{
        border: 2px solid black;
    }

    main h2{
        text-shadow: none;
        color: black;
    }

    img#phone {display: none;}
    img#tablet{display: none;}
    img#print{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}
    
}

@media screen and (min-width:768px) and (max-width:992px)/*TABLET*/{
    body{
        background-image: url(../imagem/back-tablet.jpg);
    }

    img#phone {display: none;}
    img#tablet{display: block ;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
}

@media screen and (min-width: 992px) and (max-width:1200px)/*DESKTOP*/{
    body{
        background-image: url(../imagem/back-pc.jpg);
    }

    img#phone {display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
}

@media screen and (min-width:1200px)/*GRANDES TELAS*/{
    body{
        background-image: url(../imagem/back-tv.jpg);
    }

    img#phone {display: none;}
    img#tablet{display: none ;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}
}